/* payment css */
.emp {
    border: 2px solid black;
    /* margin: auto;
    width: 50%; */
    /* text-align: center; */
    width: 356px;
    height: 777px;
    flex-shrink: 0;
}

.emp h3 {
    text-align: center;
}

.emp_plus {
    /* border: 2px solid black;
    /* margin: auto; */
    /* margin-left: 50px;
    width: 50%; */
    width: 444px;
    height: 828px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #7E50A7;
    background: #FFF;

    /* 2 */
    box-shadow: 0px 65px 65px 0px rgba(94, 139, 255, 0.15);
}

.pay-head {
    /* text-align: center; */
    color: #FFAE1A;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 88.889% */
    text-transform: uppercase;
    width: 91px;
}

.foot {
    text-align: center;
    margin-top: 100px;
}

.emp ul {
    margin-left: 30px;
}

.img-pay {
    text-align: center;
}

.hop {
    position: relative;
    bottom: 86px;
}

.list ul {
    /* list-style: none; */
    list-style-image: url('check10.png')
}

.list2 ul {
    list-style-image: url('check10.png')
}

/* orginal css */
.payment-box {
    width: 1440px;
    height: 1488px;
    background-color: white;
    position: relative;
    left: 200px;
    border: 3px solid bisque;
}

.plan {
    /* width: 560px; */
    color: #1A1A1A;
    text-align: center;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    /* 110% */
}
.side{
    display: flex;
    background-color: #FFF;
}